[submodule "Calculator"]
	path = Calculator
	url = https://github.com/aholainenviivi/Calculator.git
[submodule "SDSM-AppLauncher"]
	path = SDSM-AppLauncher
	url = https://github.com/aholainenviivi/SDSM-AppLauncher.git
[submodule "SDSM-ListApp"]
	path = SDSM-ListApp
	url = https://github.com/aholainenviivi/SDSM-ListApp.git
[submodule "SDSM-Project"]
	path = SDSM-Project
	url = https://github.com/aholainenviivi/SDSM-Project.git
